<div class="text-center">
  <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
<form class="form delete-comment-form">
  {{#each comments as |comment| }}
  <div class="d-flex justify-content-center p-1">
      <div> {{user.name}} on {{format_date date_created}}: {{comment.title}}
        <button type="submit" data-action="{{comment.id}}" class="btn btn-primary">Delete</button>
      </div>
  </div>
    {{/each}}
</form>
{{!-- update button --}}
<div id="myForm" class="p-5">
  <form class="update-post-form">
    <h1>Update the Post</h1>
    <input value='{{id}}' type='hidden' name='post_id' />

    <label><b>Title</b></label>
    <input id="update-title" name="title" required>

    <label><b>Description</b></label>
    <input id="update-desc" name="description" required>

    <button type="submit" class="btn">Update</button>
  </form>
</div>

</div>


{{!-- add a comment by adding a form, don't show comment on home page  --}}
{{#if logged_in}}
<form class="form new-comment-form">
  <div class="form-group d-flex justify-content-center">
    <input value='{{id}}' type='hidden' name='post_id' />
        <label for="comment-desc">Add a comment:</label>
          <textarea class="form-input" id="comment-desc" name="comment-desc"></textarea>
    <div class="form-group p-1">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </div>
</form>
{{else}}
<div class="form-group">
  <a href="/login">Log in</a>
</div>
{{/if}}
<script src="../js/post.js"></script>